html,
body {
  height: 100%;
  font-family: $police-logo;
  color: $main-yellow;
}

body {
  background-color: $main-black;
  color: gainsboro;
}

.h-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  letter-spacing: -.25px;
  font-size: 46px;
  color: $main-blue;
  margin-top: 13px;
}

.navbar {
  background-color: $bg-navbar;
}

.nav-logo {
  color : #5eb5e0;
}

.navbar-light {
  .navbar-nav {
    .nav-link-dev,
    .nav-link-side {
      color: $main-black;
      font-family: $police-text;
      &:hover {
        color: $main-yellow;
      }
    }
  }
}

.home-title {
  margin-top: 5em;
  margin-bottom: 4em;
}

.project-body {
  display: flex;
}

.project-summary{
  .project-img {
    max-width: 100%;
    max-height: 200px;
  }
  .title-band {
    margin: 0.5em 0;
    background-color: $main-blue;
    width: 100%;
    height: 1.5em;
    text-align: center;
    vertical-align: center;
    color: $main-yellow;
  }
}

.user-mobile {
  color: $main-yellow;
}

.project-modal {
  color: $main-blue;
}

.delete-btn {
  align-items: center;
  color: $main-orange;
  &:hover {
    color: $main-red;
  }
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  color: $main-blue;
}

.link:hover {
  text-decoration: none;
  color: $main-orange;
}

.modal-line {
  color: $main-orange;
}

label {
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
}

.col-form-label {
  z-index: 5;
  margin-top: 3em;
  margin-bottom: 0;
  color: black;
}

.vich-file {

}

.project-title {
  border-bottom: solid;
}

h5 {
  border-bottom: solid;
  border-width: 0.04em;
}

@media screen and (max-width: 600px) {
  .project-body {
    display: block;
    justify-content: center;

    .project-summary {
      .project-img {
        max-width: 250px;
        max-height: 100%;
      }
    }
  }
}
