$main-black: #bcc2c1;
$main-yellow: #f4d58d;
$main-blue: #25283b;
$main-orange: #630a09;
$main-red: #8d0801;

/*Background Color*/
$bg-body: $main-yellow;
$bg-navbar: $main-blue;
$bg-titleCard: $main-blue;

/*Police*/
$police-logo: handlee, sans-serif;
$police-text: Raleway, sans-serif;
