$main-black: #E6EFE9;
$main-yellow: #F6AE2D;
$main-blue: #25283b;
$main-orange: #F26419;
$main-red: #D62828;

/*Background Color*/
$bg-body: $main-black;
$bg-navbar: $main-blue;
$bg-titleCard: $main-blue;

/*Police*/
$police-logo: handlee, sans-serif;
$police-text: Raleway, sans-serif;
