$main-black: #6c6978;
$main-yellow: #f4d58d;
$main-blue: #25283b;
$main-orange: #bf0603;
$main-red: #8d0801;

/*Background Color*/
$bg-body: $main-yellow;        /*Blanc*/
$bg-navbar: $main-blue;      /*Vert*/
$bg-titleCard: $main-blue;  /*Orange*/

/*Police*/
$police-logo: handlee, sans-serif;
$police-text: Raleway, sans-serif;
